TOFU_REGISTRY_DB_TYPE=postgres
TOFU_REGISTRY_DB_HOST=
TOFU_REGISTRY_DB_PORT=
TOFU_REGISTRY_DB_NAME=opentofu
TOFU_REGISTRY_DB_USER=opentofu_user
TOFU_REGISTRY_DB_PASSWORD=
TOFU_REGISTRY_DB_SSLMODE=require
ANTHROPIC_API_KEY=